body {
  background-color: beige;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.headline {
  text-align: center;
}

.label {
  display: block;
  text-align: center;
}

.alert {
  color: crimson;
  font-size: 12px;
  display: none;
}
.alert.active {
  display: block;
}

.todos {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
}

.todos h2 {
  text-align: center;
}

.todos.completed h2 {
  color: crimson;
}
.todos.uncompleted h2 {
  color: navy;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.list li {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  gap: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.list p {
  font-size: 24px;
}
